<body>
    <nav id="navbar" class="">
        <div class="nav-wrapper">
            <!-- Navbar Logo -->
            <div class="logo">
                <img id="xxxx" src="assets/pictures/XXX.png" alt="SMAHT!">
                <a class = "logoAndFont" href="#home">Verigate</a>
            </div>

            <!-- Navbar Links -->
            <ul id="menu">
                <li><a href="#home">Home</a></li>
                <!--
   -->
                <li><a href="#services">Services</a></li>
                <!--
   -->
                <li><a href="#about">About</a></li>
                <!--
   -->
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>


    <!-- Menu Icon -->
    <div class="menuIcon">
        <span class="icon icon-bars"></span>
        <span class="icon icon-bars overlay"></span>
    </div>


    <div class="overlay-menu">
        <ul id="menu">
            <li><a href="#home">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
<br>
<br>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="greeterMain">This is our devices.handlebars file</h1>

        <ul class = "userMain">
            {{#each gatesTable}}
        
            <li>
                <strong>GateID: #{{gateID}}</strong> <br>
                Unit Location: {{unit_location}} <br>
                Nickname: {{nickname}} <br>
                SSID: {{SSID}} <br>
                Pass: {{pass}} <br>
                Switch Status: {{switch}} <br>
                <button data-gate-id="{{gateID}}" class="delete-gate">Delete Gate</button>
                <br><br>
        
            {{/each}}
        </ul>
    </div>
</div>
</body>




