<body>
    <nav id="navbar" class="">
        <div class="nav-wrapper">
            <!-- Navbar Logo -->
            <div class="logo">
                <img id="xxxx" src="../assets/pictures/XXX.png" alt="SMAHT!">
                <a class = "logoAndFont" href="#home">Verigate</a>
            </div>

            <!-- Navbar Links -->
            <ul id="menu">
                <li><a href="#home">Home</a></li>
                <!--
   -->
                <li><a href="#services">Services</a></li>
                <!--
   -->
                <li><a href="#about">About</a></li>
                <!--
   -->
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>


    <!-- Menu Icon -->
    <div class="menuIcon">
        <span class="icon icon-bars"></span>
        <span class="icon icon-bars overlay"></span>
    </div>


    <div class="overlay-menu">
        <ul id="menu">
            <li><a href="#home">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
<br>
<br>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="greeterMain">This is our devices.handlebars file</h1>

        <ul class = "userMain">
            {{#each gatesTable}}
        
            <li>
                <strong>GateID: #{{gateID}}</strong> <br>
                Nickname: {{nickname}} <br>
                Unit Location: {{unit_location}} <br>
                SSID: {{SSID}} <br>
                Pass: {{pass}} <br>
                Switch Status: {{switch}} <br>
                <button data-gate-id="{{gateID}}" class="update-gate">Change Gate Info</button>
                <button data-gate-id="{{gateID}}" class="delete-gate">Delete Gate</button> <br>
                <br><br>
        
            {{/each}}
        </ul>

        <div class="text-center mx-auto border border-dark py-1 px-5">
            <h2>Add a Device</h2>
            <form class="create-form">

                <div class="form-group">
                <label for="name">Device Nickname:</label>
                    <input type="text" id="device-nickname" name="name">
                <br>
                <label for="location">Unit Location:</label>
                    <input type="text" id="device-location" name="location">
                <br>
                <label for="ssid">WiFi SSID:</label>
                    <input type="text" id="device-wifi-ssid" name="ssid">
                <br>
                <label for="pass">WiFi Password:</label>
                    <input type="text" id="device-wifi-pass" name="pass">
                <br>
                </div>

                <button type="submit">Add a Device</button>
            </form>
        </div>

    </div>
</div>
</body>




