<body>
    {{> nav }}


    <!-- Menu Icon -->
    <div class="menuIcon">
        <span class="icon icon-bars"></span>
        <span class="icon icon-bars overlay"></span>
    </div>


    <div class="overlay-menu">
        <ul id="menu">
            <li><a href="/application/?">Home</a></li>
            <li><a href="/devices">Devices</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/">Sign Out</a></li>
        </ul>
    </div>
    <br>
    <br>
    <div class="jumbotron jumbotron-fluid" style="none">
        <div class="container">
            <h1 class="greeterMain">Welcome back</h1>

            <div class="userMain">
                {{#each gateData}}
                <strong>GateID: #{{gateID}}</strong> <br>
                Nickname: {{nickname}} <br>
                Unit Location: {{unit_location}} <br>
                Device ID: {{deviceID}} <br><br>

                <div class="text-center mx-auto border border-dark py-1 px-5">
                    <h2>Update Device Information:</h2>
                    <form class="create-form">

                        <div class="form-group">
                            <label for="name">Nickname:</label>
                            <input type="text" id="device-nickname" name="name">
                            <br>
                            <label for="location">Unit Location:</label>
                            <input type="text" id="device-location" name="location">
                            <br>
                            <label for="deviceID">Device ID:</label>
                            <input type="text" id="device-id" name="deviceID">
                            <br>
                        </div>

                        <button id="update-button" class="btn btn-primary" data-gate-id="{{gateID}}" type="submit">Update
                            Device</button>
                        <button id="back-button" class="btn btn-primary" type="submit">Go Back!</button>
                    </form>
                </div>

                {{/each}}
            </div>



        </div>
    </div>
</body>